[submodule "External/tclap"]
	path = External/tclap
	url = https://git.code.sf.net/p/tclap/code
[submodule "External/GLFW"]
	path = External/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "lab1/HelloOpenGL"]
	path = lab1/HelloOpenGL
	url = https://github.com/sasukeruud/OpenGLFirst.git
[submodule "lab1/HelloOpenGL_v2"]
	path = lab1/HelloOpenGL
	url = https://github.com/sasukeruud/HelloOpenGL_v2.git
